name: Build and deploy Python app to Azure Web App - PPRD

on:
  push:
    branches:
      - PPRD
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Create venv and install dependencies
        run: |
          python -m venv antenv
          source antenv/bin/activate
          pip install -r requirements.txt

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            .
            !antenv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_0D2EE79D5C6B4231839EE0639FE13C59 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_826C14B73FE448398AE62A0DD1BC7D5D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_B3869BE84C104112970E738054DE0DC2 }}

      - name: Deploy to Azure Web App (PPRD)
        uses: azure/webapps-deploy@v3
        with:
          app-name: monwebgratuit123-linux-PPRD
          slot-name: Production
